div.amarela{
    width: 100%;
    background-image: radial-gradient(#ffb200, #d89600 180%);
    height: 643px;
}
div.amarela div.acessoRapido{
    position: relative;
    display: table;
    left: 70%;
    height: 587px;
    width: 418px;
    border: 1px solid red;
    background: no-repeat gray url("../imagens/fundoGrid.gif");
    z-index: 10000;
}
div.amarela div.acessoRapido div.botoes{
    display: flex;
    margin-left: 25px;
    margin-top: 80px;
    width: 392px;
    height: 506px;
}
div.amarela div.acessoRapido div.botoes a.botao{
    display: inline-block;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background: linear-gradient(to bottom, #f2f2f2, #d1d3d1 180%) #ffffff;
    width: 170px;
    height: 150px;
}
div#coluna1{
    width: 177px;
    height: 477px!important;
}
div#coluna2{
    width: 177px;
    height: 477px !important;
    margin-left: 5px;
}
img.botoes_icon{
    position: relative;
    left: 39%;
    top: 18px;
}
div.amarela div.acessoRapido div.botoes a.botao h3{
    position: relative;
}
/*textos acesso rapido*/
h3#2via{

}
h3#autoDebt{

}
h3#ctrlCont{

}
h3#altDtVenc{

}
h3#contDetl{

}
h3#