@charset "UTF-8";
div#footer{
    position: relative;
    bottom: -2px;
}
footer {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 170px;
    bottom: -2px;
}

/*aba de links do footer*/
nav#footerMenu{
    width: 800px;
    position: relative;
    left: 37%!important;
    transition: .2s;
    top: 7%!important;
}
img#logoSemNome{
    border-right: 2px solid #edb601;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}
li:hover{
    background-color: transparent;
}
li{
    border: none;
}
li.li1{
    float: left;
    list-style:none;
}
ul li ul.submenu{
    display: block;
    width: 100px;
    list-style: none;
}
a.link{
     font-family: 'Open Sans', sans-serif;
     font-size: 11pt;
    color: black;
 }
a.link{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #edb601;
    padding-top: 2px;
    padding-bottom: 2px;
}
a.subLink{
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: black;
    text-decoration: underline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px
}
tr.submenu{
    position: absolute;
    right: -100px!important;
}
a#contato{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
/*aba de copyright*/
div#abaDireitos{
    padding-bottom: 2px;
    padding-top: 14px;
    background-color: #00225c;
    border-top: 1px solid grey;
    position: relative;
    top: 70%!important;
}
span#spanDireitos{
    width: 100px;
}
p.direitos {
    margin-left: 0;
    display: block;
    position: relative;
    color: white;
    transition: 0.5s;
    margin-bottom: 15px;
}
/*media das abas*/
@media all and (max-width: 1388px){
    p.direitos{
        left: -19% !important;
    }
    nav#footerMenu{
        left: 30% !important;
    }
}
@media all and (max-width: 1217px){
    p.direitos{
        left: -25%!important;
    }
    nav#footerMenu{
        left: 30% !important;
    }
    span#spanDireitos{
        display: none;
    }
}
@media all and (max-width: 976px) {
    p.direitos{
        left: -40% !important;
    }
    nav#footerMenu{
        left: 19% !important;
    }
}
@media all and (max-width: 974px) {
    p.direitos{
        left: -52% !important;
    }
    nav#footerMenu{
        left: 19% !important;
    }
}
@media all and (max-width: 897px) {
    p.direitos{
        left: 13% !important;
    }
    nav#footerMenu{
        display: none;
    }
}
@media all and (max-width: 767px) {
    footer{
        background-color: transparent;
        height: auto;
    }
    p.direitos{
        left: 5%;
    }
    div#abaDireitos{
        top: 75px;
    }
}
@media all and (max-width: 410px){
    p.direitos{
        margin-left: 5%;
    }
    span#spanDireitos{
        display: none;
    }
}
