@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    border:0;
}
.header{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #fdfdfe;
    bottom: 8px;
}
button.areaCliente{
    position: relative;
    margin-left: 63%;
    top:50px;
    width: 180px;
    height:45px;
    background-color:#e8ab00;
    border:none;
    font-size: 14pt;
    transition:1s width;
}
span#btnAreaCliente{
    position: relative;
    top: 3px;
}
.logo{
    transition:2s;
    position: fixed;
    top: 10px;
    margin-left: 26.8%;
}
nav#nav{
    width:100%;
    background-color:#000a59!important; 
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width:730px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 13pt;
}
li {
    float: left;
    border-left: 3px solid #edb80e;
}
li:hover{
    background-color: #ffc752;
    color:black;
}
a.a {
    display: block;
    margin-left: 21px;
    margin-right: 21px;
    text-decoration: none;
    color:#FFF;
    outline: none;
}

ul li ul.dropdown{
    width: 160px;
    border:none;
    background: #ffc752;
    display: none;
    position: absolute;
    right: 142px;
    top:185px;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;
    border:none;
}
ul li ul.dropdown li{
    display: block;
    border:none;
}
#miniMenu{
    margin: 0;
    width: 100%;
}
#miniMenu li{
    border: none;
}
#menu{width: 100%;}
li:first-child{border:none;}
img#miniLogo{display: none;transition:1.5s;}
a.a:hover{text-decoration:none;color:white;}
nav.navbar{display: none;}

/**
* ****************************************
***********-----MEDIA QUERIES-----********
* ****************************************
*/

@media all and (max-width:880px){
    .logo{
        position: relative;
        top:18px;
        right:40px;
        transition:2s;
    }
    button.areaCliente{
        position: relative;
        top:-58px;
    }
 }
@media all and (max-width: 750px){
    button.areaCliente{
        position: relative;
        height: 45px;
        width: 80px;
        border-radius: 10px;
        top:-57px;
    }
    span#btnAreaCliente{
        display: none;
    }

 }
 @media all and (max-width: 700px){
    .logo{display: none;}
    img#miniLogo{
        transition:1.5s;
        display: block;
        position: relative;
        top:40px;
        margin-left: 10%;
    }
        button.areaCliente{
        position: relative;
        height: 45px;
        width: 80px;
        border-radius: 10px;
        top:-20px;
    }
    nav.navbar{
        display: block;
        background-color: #000a59;
    }
    nav#nav{display: none;}
 }
 @media all and(max-width: 620px){
    nav#nav ul{
        position: relative;
    }

 }