@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    border:0;
    background-color: #FFF!important;
}
.header{
    position: relative;
    width: 100%;
    height: 150px;
    bottom: 0px;
}
button.areaCliente{
    position: relative;
    margin-left: 63%;
    top:-65px;
    width: 180px;
    height:45px;
    background-color:#e8ab00;
    border:none;
    font-size: 14pt;

}
span#btnAreaCliente{
    position: relative;
    top: 3px;
}
img.logo{
    transition:1s;
    position: relative;
    top: 10px;
    margin-left: 26.8%;
}
nav#nav{
    width:100%;
    background-color:#000a59!important; 
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width:730px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 13pt;
}
li {
    float: left;
    border-left: 3px solid #edb80e;
}
li:hover{
    background-color: #ffc752;
    color:black;
}
a.a {
    display: block;
    margin-left: 21px;
    margin-right: 21px;
    text-decoration: none;
    color:#FFF;
    outline: none;
}

ul li ul.dropdown{
    width: 160px;
    border:none;
    background: #ffc752;
    display: none;
    position: absolute;
    right: 142px;
    top:185px;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;
    border:none;
}
ul li ul.dropdown li{
    display: block;
    border:none;
}
#miniMenu{
    margin: 0;
    width: 100%;
}
#miniMenu li{
    border: none;
}
div#menu{width: 100%;position: relative;top:-10px;}
li:first-child{border:none;}
img#miniLogo{display: none;transition:1.5s;}
a.a:hover{text-decoration:none;color:white;}
nav.navbar{display: none;}
button.areaClienteMini{display: none;}

/**
* ****************************************
***********-----MEDIA QUERIES-----********
* ****************************************
*/

 @media all and (max-width: 852px){
    button.areaCliente{display: none;}
    img.logo{
        position: relative;
        margin-left: 26.8%;
    }
    button.navbar-brand{
        width: 50px;
        height: 40px;
        margin: 0;
        border: 0;
        padding: 0;
        position: relative;
        top:5px;
        margin-left: 1.5%;
        background-color: #000a59;
    }
    .navbar-toggle{
        background-color: #000a59!important;
    }
    .navbar-toggle:hover{
        background-color: #192269!important;
    }    
    div#menu{position: relative;top:-25px;}
    img#imgClienteMini{
        width: 50px;
        height: 40px;
        border-radius: 7px;
    }
 }
@media all and (max-width: 700px){
    button.areaCliente{display: none;}
    nav.navbar{
        display: block;
        background-color: #000a59;
    }
    nav#nav{
        display: none;

    }
    img.logo{
        position: relative;
        margin-left: 19%;

    }
 }
 @media all and (max-width: 494px){
    button.areaCliente{display: none;}
    img.logo{
        position: relative;
        margin-left: 15%;
    }
 }
  @media all and (max-width: 304px){
    button.areaCliente{display: none;}
    img.logo{
        position: relative;
        margin-left: 1%;
    }
 }